@import "~bootstrap/scss/bootstrap";

.fullPage {
    background: url(https://cdn.pixabay.com/photo/2015/01/14/18/41/home-office-599475__340.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.title {
    display: flex;
    justify-content: flex-start;
}
.navbar {
    background-color:black;
    background-size: cover;
}

.topTitle {
    font-family: Courier;
	color: White;
	font-size:40px;
}
