@import "~bootstrap/scss/bootstrap";

.fullPage {
    background: url(http://getwallpapers.com/wallpaper/full/d/c/0/1090033-new-cool-tech-backgrounds-1920x1080.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom:-20;
    flex:display;
    flex:wrap;
    color:white;
    font-family:Courier;
}

.title {
    display: flex;
    justify-content: flex-start;
}
.navbar {
    background-color:black;
    background-size: cover;
}

.topTitle {
    font-family: Courier;
	color: White;
	font-size:40px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0px;
    color:white;
    font-family: Courier;
  }

  h2 {
    display: block;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width:0px;
    color:white;
    font-family: Courier;
    background: url(http://getwallpapers.com/wallpaper/full/d/c/0/1090033-new-cool-tech-backgrounds-1920x1080.jpg) no-repeat center center fixed;

  }

  .page-footer{
    background: black;
    color:white;
    font-family: Courier;
  }
