@import "~bootstrap/scss/bootstrap";

.fullPageContainer {
    background-image: url(https://cdn.pixabay.com/photo/2015/01/14/18/41/home-office-599475__340.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.navToBio {
background-color: antiquewhite;
}

#navToBio {
    margin-right: 15%;
    padding: 60px 50px 0px 0px;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.navbar {
    background-image: url(https://www.pixeden.com/media/k2/galleries/136/002-subtle-light-pattern-background-texture.jpg);
    background-size: cover;
}